/* CSS Externo */

:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto:#e9e9e9;

}

body {
    background: ; /* cor fundo */
    color: white ; /* cor textos */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none; /* estilo lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(115, 32, 192);
    border-bottom: 5px solid white;
}

.menu-desktop {
    background: blue;
    display: none;
}

/* Medidas Responsivas */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }
}