/* CSS Externo */

:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto:#e9e9e9;

    --menu-lik: rgb(255, 255, 255);
    --cor-borda: rgb(249, 249, 250);
    --cor-borda: white;
}

:root[data-theme='light'] {
    --cor-fundo: rgb(228, 212, 245);
    --cor-texto: #e9e9e9;
    
    --menu-lik: rgb(253, 253, 253);
    --cor-borda: rgb(253, 250, 255);
   
    
}   


body {
    background: var(--cor-fundo); /* cor fundo */
    color: var(--cor-texto);  /* cor textos */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--menu-link) ;
    text-decoration: none;


}

ul {
    list-style: none; /* estilo lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(56, 37, 110);
    border-bottom: 5px solid var(--cor-borda);
}

.menu-desktop {
    background: rgb(56, 37, 110);
    display: none;
}

/* NAV = Ul//OL */
.menu {
    display: flex; /* FLEX EFEITO SANFONA - EM LINHA HORI */
    gap: 1rem; /* cada rem equivale a 16px */ /* espaço entre as palavras */
    align-items: center; /* alinha os objetos na vertical */
    
}

/* li - listas */

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
   color: var(--menu-lik);
   font-size: 1.3rem;
   text-transform: uppercase; /* caps lock */
}

/* Menu Hamburger - botao menu mobile */
#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none; /* remover as bordas */
    cursor: pointer; /* trocar o ícone do mouse */
    color: var(--cor-texto);
    display: flex; /* quebra de linha */
    font-size: 1.8rem; /* aumentar icone */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile { /* nav */
    position: fixed;
    top: 0px;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh; /* viewPort Altura  */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out; /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o menu mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile /* nav */
 .menu-list /* ul */{
    display: flex;
    flex-direction: column;   /* eixo y = vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
    
}

/* Medidas Responsivas */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
        min-width: 30%;
    }

    .btn-menu-mobile {
        display: none; /* aquilo que n for celular irei remover da minha tela */
    }
    .header-toggle {
        min-width: 30%;
    } 
}

